h1 {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #FFFFFF;
  background-color: #000000;
}

p {
  color: #FFFFFF;
  background-color: #000000;
}
